.hero-img {
  animation: moveUpDown 3s infinite ease-in-out;
  align-self: center;
  justify-self: center;
  width: 470px;
}

.elong:hover {
  transform: scale(1.05);
}

@keyframes moveUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@media (max-width: 800px) {
  .hero-img { width: 70%; }
}

.btn-hover {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
  background-color: #034f84;
  color: white;
  filter: drop-shadow(5px 5px 30px #034f84);
}

.hero-bg {
  background-image: url("/imgs/hero-bg.webp");
  background-size: cover;
  background-position: center;
}

.hero-section {
  background-color: rgba(3, 1, 7, 0.75);
  padding: 100px 0px 30px 0px;
}

.Contact-btn {
  background-color: #034f84;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 8px 20px !important;
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.Contact-btn:hover {
  background-color: transparent;
  color: white;
  border: 3px solid white;
  transform: scale(1.05);
}
@media (min-width: 600px) { .hero-section { padding-bottom: 50px; } }
@media (min-width: 768px) { .hero-section { padding-bottom: 70px; } }
@media (min-width: 1024px) { .hero-section { padding-bottom: 100px; } }
@media (min-width: 1280px) { .hero-section { padding-bottom: 130px; } }
